<%= stylesheet_link_tag 'summary_page', media: 'all', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <div class="header">
            <%= image_tag 'DBS-logo.jpg', alt: 'DBS', class: 'resized-image' %>
        </div>
        <div class="form-container">
            <h1 id="thanks">Thanks for <br>Completing Your Application!</h1>
            <p>We appreciate your time and effort in completing the application process.</p>
            
            <footer>
                <p>© 2024 SDS Team 10</p>
                <p><b>Members: </b>Samuel, Ernest, Moulik, Sahitya, Wanwei, Ryan</p>
                <p><b>Special thanks to our DBS mentors: </b>Jarene and Jie Ling</p>
            </footer>
        </div>
    </div>
</body>