<!doctype html>

<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <button id="startbutton">Take photo</button>
        <canvas id="canvas"></canvas>
        <img id="photo" alt="The screen capture will appear in this box.">
        <div class="boxed">
            <p id = "result">
                1. Click 'Take photo' <br>
                2. Please Wait .......
            </p>
        </div>
        <%= link_to 'Next', proof_of_employment_path, class: 'btn', id: 'nextButton' %>
    </div>
</body>

</html> 