<%= stylesheet_link_tag 'identity', media: 'all' %>
<%= javascript_include_tag 'controllers/tax', crossorigin: 'anonymous' %>

<body>
    <div class="container">
        <progress id="file" value="72" max="100"> 32% </progress><br><br>
        <div class="upload-section">
            <div class="upload-icon">
                <%= image_tag 'upload-icon.png', alt: 'Upload Icon' %>
            </div>
            <div class="upload-text">
                <h1>Proof of Tax Residency</h1>
                <p>Passport</p>
                <p>National Identity Card</p>
                <p>Residence Permit</p>
                <p>Work Pass</p>
                <p>Student Pass</p>
                <p>Birth Certificate</p>
        </div>
        <div class="camera-icon">
            <%= button_tag image_tag('camera-upload.png'), class: 'camera-button', id: 'toCameraUpload' %>
            <p>Take Picture</p>
        </div>
    </div>
</body>
</html>

