<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Identity</title>
    <%= stylesheet_link_tag 'identity', media: 'all' %>
    <%= javascript_include_tag 'controllers/upload_option', crossorigin: 'anonymous' %>
</head>
<body>
    <div class="container">
        <progress id="file" value="72" max="100"> 32% </progress><br><br>
        <div class="upload-section">
            <div class="upload-icon">
                <%= image_tag 'upload-icon.png', alt: 'Upload Icon' %>
            </div>
            <div class="upload-text">
                <h1>Proof of Identity</h1>
                <p>Identity Card (For Malaysians)</p>
                <p>Passport (For other Nationalities)</p>
            </div>
        </div>
        <div class="camera-icon">
            <%= button_tag image_tag('camera-upload.png'), class: 'camera-button', id: 'toCameraUpload' %>
            <p>Take Picture</p>
        </div>
    </div>
</body>
</html>
