<%= stylesheet_link_tag 'address', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>


<body>
    <div class="container">
        <progress id="file" value="28" max="100"></progress>
        <br>
        <%= link_to 'â†', checklist_path, class: 'button', id: 'backButton' %>
        <br>
        <h2>Where do you currently stay?</h2>
        <p>Enter your residential mailing address only. (Office, P.O. Box, V Box and C/O addresses will not be accepted.)</p>
        <form>
            <div class="form-group">
                <label for="country">Select Your Country</label>
                <select id="country" name="country">
                    <option value="" disabled selected>Select Your Country</option>
                    <!-- Add country options here -->
                </select>
            </div>
            <div class="form-group">
                <label for="postal-code">Postal Code</label>
                <input type="text" id="postal-code" name="postal-code" placeholder="Eg. 410929">
            </div>
            <div class="form-group flex">
                <div>
                    <label for="block-no">Block No.</label>
                    <input type="text" id="block-no" name="block-no" placeholder="Eg. 5">
                </div>
                <div>
                    <label for="floor">Floor - Unit No.</label>
                    <div class="flex">
                        <input type="text" id="floor" name="floor" placeholder="12">
                        <span>-</span>
                        <input type="text" id="unit-no" name="unit-no" placeholder="02">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="address-line-1">Address Line 1</label>
                <input type="text" id="address-line-1" name="address-line-1" placeholder="Eg. Bedok Reservoir Road">
            </div>
            <div class="form-group">
                <label for="address-line-2">Address Line 2</label>
                <input type="text" id="address-line-2" name="address-line-2" placeholder="Eg. Simei Residences">
            </div>
            <%= link_to 'Next', work_path, class: 'btn', id: 'nextButton' %>
        </form>
    </div>
</body>
</html>
