<!doctype html>

<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <h2>The following data has been extracted from your document:</h2>
    </div>
</body>

</html> 