<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<%= link_to 'To Checklist', checklist_path, class: 'button', id: 'toChecklistButton' %>

<div class="container">
    <h1><%= @message %></h1>
    <p>Welcome to SDS Team 10:</p>
    <div>
        <h3>Members:</h3>
        <p>Samuel - Ernest - Ryan - Moulike - Wan Wei - Sahitya</p>
        <h3>Mentors:</h3>
        <p>Jarene - Jie Ling</p>
    </div>
</div>
