<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1><%= @message %></h1>
<p>Welcome to SDS Team 10:</p>
<div>
    <h3>Members:</h3>
    <p>Samuel - Ernest - Ryan - Moulike - Wan Wei - Sahitya</p>
    <h3>Mentors:</h3>
    <p>Jarene - Jie Ling</p>
</div>
