<%= stylesheet_link_tag 'signup', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>


<body>
    <div class="container">
        <br>
        <%= link_to 'Sign Up for Digibank', new_path, class: 'button', id: 'SignUpforDigibankButton' %>
        <%= link_to 'Log In', new_path, class: 'button', id: 'LogInButton' %>
    </div>
</body>
