<%= stylesheet_link_tag 'work', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'controllers/home', crossorigin: 'anonymous' %>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work As Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <progress id="file" value="43" max="100"> 32% </progress><br><br>
        <%= link_to '<', address_path, class: 'button', id: 'backButton' %><br>
        <h1>Next, what do you work as?</h1>
        <ul class="options-list">
            <li>Customer Service</li>
            <li>Professional Services</li>
            <li>IT Professional</li>
            <li>Managerial/Senior Management</li>
            <li>Student</li>
            <li class="show-all">Show all</li>
            <%= link_to 'Next', industry_path, class: 'button', id: 'nextButton' %><br>
        </ul>
    </div>
</body>
</html>
