<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proof of Residential Address</title>
    <%= stylesheet_link_tag 'sample_doc', media: 'all', crossorigin: 'anonymous' %>
</head>
<body>
    <div class="container">
        <%= link_to '<', checklist_path, class: 'button', id: 'backButton' %>
        <h1>Sample Proof of Residential Address Image</h1>
        <%= image_tag 'address.jpg', alt: 'Sample Proof Of Residential Address' %>
    </div>
</body>
</html>