<p style="color: green"><%= notice %></p>

<h1>Customer records</h1>

<div id="customer_records">
  <% @customer_records.each do |customer_record| %>
    <%= render customer_record %>
    <p>
      <%= link_to "Show this customer record", customer_record %>
    </p>
  <% end %>
</div>

<%= link_to "New customer record", new_customer_record_path %>
