<!DOCTYPE html>
<html>
<head>
    <title>Feature1</title>
    <%= stylesheet_link_tag 'checklist', media: 'all' %>
    <%= javascript_include_tag 'controllers/application' %>
</head>
<body>
    <div class="container">
        <button type="button" id="backButton"><</button>
        <h1>Document Checklist</h1>
        <form id="checklistForm">
            <div class="item">
                <input type="checkbox" id="passport" name="passport">
                <label for="passport">Passport</label>
            </div>
            <div class="item">
                <input type="checkbox" id="employment" name="employment">
                <label for="employment">Proof of Employment</label>
            </div>
            <div class="item">
                <input type="checkbox" id="address" name="address">
                <label for="address">Proof of Residential Address</label>
            </div>
            <div class="item">
                <input type="checkbox" id="tax" name="tax">
                <label for="tax">Proof of Tax Residency</label>
            </div>
            <div class="item">
                <input type="checkbox" id="mobile" name="mobile">
                <label for="mobile">Proof of Mobile Ownership</label>
            </div>
            <button type="submit" id="nextButton" disabled>Next</button>
        </form>
    </div>
</body>
</html>
