<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
    <%= stylesheet_link_tag 'upload', media: 'all', crossorigin: 'anonymous' %>
</head>
<body>
    <div class="container">
        <p>Hello Summary page</p>
    </div>
</body>
</html>