<%= stylesheet_link_tag 'document', media: 'all' %>
<%= javascript_include_tag 'controllers/address', crossorigin: 'anonymous' %>
<body>
    <div class="container">
        <progress id="file" value="65" max="100"></progress>
        <h3>Uploaded Document</h3>
        <canvas id="canvas"></canvas>
        <img id="photo" alt="The screen capture will appear in this box.">
        <button id="RetakeButton" class="button">Retake Picture</button>
        <div class="boxed">
        <label for="result" id="text" style="color: red;"></label><br>
            <h3>Extracted Info</h3>
            <form id="textForm">
                <div class="form-row">
                    <div class="form-group">
                        <label for="result">Name</label><br>
                        <input type="text" id="name" name="result" placeholder="Enter text here"><br>
                    </div>
                    <div class="form-group">
                        <label for="result">Postal Code</label><br>
                        <input type="text" id="postal" name="result" placeholder="Enter text here"><br>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="result">Floor</label><br>
                        <input type="text" id="floor" name="result" placeholder="Enter text here"><br>
                    </div>
                    <div class="form-group">
                        <label for="result">Unit Number</label><br>
                        <input type="text" id="unit" name="result" placeholder="Enter text here"><br>
                    </div>
            </form>
        </div>
        <button id="nextButton" class="button">Next</button>
    </div>
</body>