<%= stylesheet_link_tag 'document', media: 'all' %>
<%= javascript_include_tag 'controllers/tax', crossorigin: 'anonymous' %>
<body>
    <div class="container">
        <progress id="file" value="93" max="100"> </progress>
        <h3>Uploaded Document</h3>
        <canvas id="canvas"></canvas>
        <img id="photo" alt="The screen capture will appear in this box.">
        <button id="RetakeButton" class="button">Retake Picture</button>
        <div class="boxed">
        <label for="result" id="text" style="color: red;"></label><br>
            <h3>Extracted Info</h3>
            <form id="textForm">
                <label for="result" id="text"></label><br>
                <label for="result">Name</label><br>
                <input type="text" id="name" name="result" placeholder="Enter text here"><br>
                <label for="result">TIN Number</label><br>
                <input type="text" id="tin" name="result" placeholder="Enter text here"><br>
            </form>
        </div>
        <button id="nextButton" class="button">Next</button>
    </div>
</body>