
<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_employment', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <h3>Proof of Employment</h3>
        <p> Click Here to view the list of acceptable documents <p>
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <div class="box">
            </div>
            <button id="startbutton">Take photo</button>
        <canvas id="canvas"></canvas>
    </div>
</body>

</html>  
