
<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_identity', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <h3>Proof of Identity</h3>
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <div class="box">
            </div>
            <button id="startbutton">Take photo</button>
        <canvas id="canvas"></canvas>
        <%= form_with url: summary_page_path, method: :get, id: 'checklistForm' do %>
            <%= submit_tag '', class: 'button', id: 'nextButton' %>
        <% end %>
    </div>
</body>

</html>  
