<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_identity', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <progress id="file" value="28.57" max="100"></progress>
        <h3>Proof of Identity</h3>
        <p>Identity Card (for Malaysians)</p>
        <p>Passport (for other Nationalities)</p>
        <div class="camera">
            <div class="video-wrapper">
                <video id="video">Video stream not available.</video>
                <div class="overlay-box">
                    <div class="small-box"></div>
                    <div class="connecting-line"></div>
                </div>
            </div>
            <button id="startbutton">Take photo</button>
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>
