<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_address', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <progress id="file" value="58" max="100"></progress>
        <h3>Proof of Residential</h3>
        <p>Singapore Utility/Telecommunication Bill</p>
        <p>Certification Letter of Employment</p>
        <p>Certification Letter from School</p>
        <div class="camera">
            <div class="video-wrapper">
                <video id="video">Video stream not available.</video>
                <div class="overlay-box"></div>
            </div>
            <button id="startbutton">Take photo</button>
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>

</html>  
