<html>
<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_tax', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <progress id="file" value="86" max="100"></progress>
        <h3>Proof of Tax Residency</h3>
        <p>Passport</p>
        <p>National Identity Card</p>
        <p>Student Pass</p>
        <div class="camera">
            <video id="video">Video stream not available.</video>
            <div class="box">
            </div>
            <button id="startbutton">Take photo</button>
        <canvas id="canvas"></canvas>
    </div>
</body>

</html>  
