
<head>
    <title>Camera</title>
    <%= stylesheet_link_tag 'camera', media: 'all', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'controllers/webcam_employment', crossorigin: 'anonymous' %>
</head>

<body>
    <div class="container">
        <progress id="file" value="43" max="100"></progress>
        <h3>Proof of Employment</h3>
        <p>Employment Letter</p>
        <p>Student Pass</p>
        <p>Dependent Pass</p>
        <p>Long Term Visit Pass</p>
        <div class="camera">
            <div class="video-wrapper">
                <video id="video">Video stream not available.</video>
                <div class="overlay-box">
                    <div class="small-box"></div>
                    <div class="connecting-line"></div>
                </div>
            </div>
            <button id="startbutton">Take photo</button>
            <canvas id="canvas"></canvas>
        </div>
    </div>
</body>

</html>  
