body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 0; /* Remove padding to avoid spacing issues */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 800px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.camera {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#video {
    margin-top: 20px;
    border: 2px solid #ff3333;
    width: 320px;
    height: 240px;
}

#photo {
    border: 2px solid #ff3333;
    width: 320px;
    height: 240px;
    margin-top: 20px;
}

#canvas {
    display: none;
}

.button {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    font-weight: bold;
    position: relative; /* Change to relative to center it correctly */
}

#nextButton {
    background-color: #ff3333;
    border: 2px solid #ff3333;
    width: 80%;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
}

#nextButton:disabled {
    background-color: grey;
    border: 2px solid grey;
    cursor: not-allowed;
    width: 80%;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
}

#nextButton:hover:not(:disabled) {
    background-color: white;
    color: #ff3333;
    border: 2px solid #ff3333;
    font-weight: bolder;
    width: 80%;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
}

#startbutton {
    display: block;
    margin: 0 auto;
    bottom: 36px;
    padding: 5px;
    background-color: #6a67ce;
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
    position: relative; /* Change to relative to center it correctly */
}

.boxed {
    border-radius: 10px;
    border: 2px solid #000;
    width: 320px;
    margin: 30px;
    text-align: center;
}
