/* app/assets/stylesheets/checklist.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 800px;
    width: 500px;
    text-align: center;
    position: relative;
}

.topSection {
    padding-bottom: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 25px;
    color: #333;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
}

.item:last-child {
    border-bottom: none;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #555;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    flex-grow: 1;
}

.sample-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.1s;
    position: relative;
}

.sample-image:hover {
    transform: scale(1.5);
}

.sample-image::after {
    content: attr(data-tooltip);
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
    z-index: 10;
}

.sample-image:hover::after {
    opacity: 1;
}

input[type="checkbox"] {
    display: none;
}

label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ff3333;
    border-radius: 4px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

input[type="checkbox"]:checked + label:before {
    background-color: #ff3333;
}

.button {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-weight: bold;
}

#nextButton {
    background-color: #ff3333;
    border: 2px solid #ff3333;
    color: white; /* Ensures the text is visible */
    padding: 10px; /* Adds padding for better appearance */
    width: calc(100% - 40px); /* Adjust width to account for padding */
    position: absolute; /* Position absolutely within the container */
    bottom: 40px; /* Distance from the bottom of the container */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust to perfectly center */
    text-align: center; /* Center text inside the button */
    border-radius: 5px; /* Rounded corners */
}

/* Ensure the container has relative positioning */
.container {
    position: relative;
    /* other styles */
}

#nextButton:disabled {
    background-color: grey;
    border: 2px solid grey;
    cursor: not-allowed;
}

#nextButton:hover:not(:disabled) {
    background-color: white;
    color: #ff3333;
    border: 2px solid #ff3333;
    font-weight: bolder;
}

#backButton {
    background-color: transparent;
    border: 2px solid #ff3333;
    color: #ff3333;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#backButton:hover {
    background-color: #ff3333;
    color: white;
}

button:focus {
    outline: none;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #ff3333;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    position: absolute;
    z-index: 1;
    top: 105%; /* Position the tooltip below the tooltip container */
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
