/* app/assets/stylesheets/index.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url('MBS.jpg');
    background-size: cover;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 800px;
    width: 500px;
    text-align: center;
    position: relative;
}
 
.button {
    text-decoration: none;
    color: white;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

#SignUpforDigibankButton {
    padding: 5px 30px;
    width : 50%;
    background-color: #ff3333;
    border: 2px solid #ff3333;
    position: absolute;
    bottom: 30px; 
    transform: translateX(-50%);
}

#LogInButton {
    padding: 5px 30px;
    width : 50%;
    background-color: white;
    color: #ff3333;
    border: 2px solid #ff3333;
    position: absolute;
    bottom: 100px; 
    transform: translateX(-50%);
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}


.button:hover {
    background-color: #ff3333;
    color: white;
}

.button:focus {
    outline: none;
}

.language-dropdown select {
    font-size: 1.2em; /* Slightly bigger font */
    color: red; /* Text color */
    background-color: white; /* Background color */
    border: 2px solid red;
    right: 20px;
}

.language-dropdown {
    position: relative; 
    margin-top: 30px; 
    top: 300px; 
    right: 20px;
}