/* app/assets/stylesheets/signup.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-image: url('marinaa.jpg');
    background-size: cover;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 800px;
    width: 500px;
    text-align: center;
    position: relative; 
}

.resized-image {
    width: 300px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
}
 
.button {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-weight: bold;
}

#LogInButton{
    background-color: white;
    color: #ff3333;
    border: 2px solid #ff3333;
    width: 80%;
    position: absolute;
    bottom: 90px; 
    left: 50%;
    transform: translateX(-50%);
}

#SignUpforDigibankButton {
    background-color: #ff3333;
    border: 2px solid #ff3333;
    width: 80%;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
}

/* #LogInButton:hover{
    background-color: ff3333;
    color: whi;
    border: 2px solid #ff3333;
    font-weight: bolder;
    width: 80%;
    position: absolute;
    bottom: 90px; 
    left: 50%;
    transform: translateX(-50%);
}

#SignUpforDigibankButton:hover {
    background-color: #ff3333;
    color: white;
    border: 2px solid #ff3333;
    font-weight: bolder;
    width: 80%;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
} */

#nextButton {
    background-color: #ff3333;
    border: 2px solid #ff3333;
    width: 80%;
    position: absolute;
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
}

.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}


.button:hover {
    background-color: black;
    color: white;
}

.button:focus {
    outline: none;
}

.language-dropdown select {
    font-size: 1.2em; /* Slightly bigger font */
    color: red; /* Text color */
    background-color: white; /* Background color */
    border: 2px solid red;
    right: 20px;
}

.language-dropdown {
    position: relative; 
    margin-top: 30px; 
    top: 300px; 
    right: 20px;
}